numpy
matplotlib 
pandas
opencv-python
keras 
tensorflow
h5py
pillow
sklearn
scikit-learn
sklearn-extensions
pyswarms
protobuf
nltk
django
pymysql
opencv-python
mysqlclient 
gunicorn










